	body{
		margin: 50px;
		width: 1200px;
		height: 700px;
	}
	#Title, #Sub-Title{
		text-align: center
	}
	#Title{
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 80px 'ChunkFiveRegular';
	background-color: steelblue;
	}

	#Sub-Title{
		border-bottom-style: solid;
		border-width: 1px;
		border-color: #ccc;
		padding-bottom: 20px;

	}
	#Location{
		text-align: left;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: #ccc;
		padding-bottom: 20px;
	}
	#Email{
		text-align: right;
	}
	#intro-text{


	}
	#Site-Container1{
		float:left;
		width: 850px;
		height:600px;
		overflow: scroll;
		margin-left: 50px;
	}
	#Site-Container2{
		float:left;
		width: 200px;
		height: 400px;
		padding: 20px;
		background-color: white;
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	    border-radius: 10px;
	    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
		border-style:solid; 
	    border-color: steelblue;
	    color: white;
	}
	#body-content{
		margin-top: 30px;
	}
	#Nav-Title{
		color: steelblue;
	}

	td img, td{
		margin: 20px;
	}